[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "third_party/buildtools"]
	path = third_party/buildtools
	url = https://chromium.googlesource.com/chromium/src/buildtools
[submodule "third_party/nanobench"]
	path = third_party/nanobench
	url = https://github.com/martinus/nanobench
[submodule "third_party/rlbox_wasm2c_sandbox"]
	path = third_party/rlbox_wasm2c_sandbox
	url = https://github.com/PLSysSec/rlbox_wasm2c_sandbox
[submodule "third_party/rlbox"]
	path = third_party/rlbox
	url = https://github.com/PLSysSec/rlbox
